tml{
    background-color: rgb(107, 131, 150);

}
body{
    margin:0 auto;
  width: 1440px;
  height: 2000px;
   border:5px solid cadetblue;
   border-radius: 2%;
   padding:10px;
   background-color: rgb(238, 228, 235);
}
header{
    margin:0 auto;
}
#photo{
    margin-left:400px; 
}
.name{
    color:rgb(233, 10, 10);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
main{
    display: flex;
    flex-wrap: wrap;
    gap:110px;
  
}
.tityl{
    text-align: center;
    color:darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.aboutme{
    width:650px;
    height: 200px;
    border:2px solid cadetblue;
    background-color: rgb(179, 180, 180);
    margin: 5px;
    line-height: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.Contaks{
    width:650px;
    height: 200px;
    border:2px solid cadetblue;
    background-color: rgb(179, 180, 180);
    margin: 5px;
    line-height: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
li{
    line-height: 25px;
}
.code{
    width:1500px;
    height: 400px;
    border:2px solid cadetblue;
    background-color: rgb(179, 180, 180);
    margin: 5px;
    line-height: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

}
.cod{
    background-color: rgb(249, 254, 255);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}
.bloki{
    width:390px;
    height: 150px;
    border:2px solid cadetblue;
    background-color: rgb(179, 180, 180);
    margin: 5px;
    line-height: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

}
.eхample{
    font-style:italic;
}
footer{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center; 
    margin-top: 50px;
}
  
.number{
 margin:20px;
 font-weight: 900; 
 font-size: 25px;  
}
.pict{
 margin:20px;
 width: 90px;
height: 60px: 
}
 a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}